website_monitor/website_monitor.json
{
  "name": "website_monitor",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1784e686-a014-412e-9fd5-6949a2e44af5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://newsdata.io/api/1/latest",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "pub_1f3225caa3b64418ae95ffcf6d00e87f"
            },
            {
              "name": "language\t",
              "value": "en"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "403eed08-0398-4ce0-8b8c-238097bdf1d5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff88ea4b-3966-4782-afa5-88474e25f447",
              "name": "current_state",
              "value": "={{ $json.results }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "af6e796a-2337-4279-9095-74004498b62e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the current page content from the previous Set node\n// The Set node created a field named 'current_state'\nconst currentContent = $json.current_state;\n\n// 2. Retrieve the content from the LAST run (Static Data)\n// We use 'global' to save the data across all runs of this workflow.\nconst staticData = $getWorkflowStaticData('global');\nconst lastContent = staticData.lastContent || \"No previous content found (First Run)\";\n\n// 3. Compare the two contents\n// We use JSON.stringify to ensure a perfect string comparison.\nconst hasChanged = JSON.stringify(currentContent) !== JSON.stringify(lastContent);\n\n// 4. Store the current content for the NEXT run\n// This will be saved after the workflow successfully finishes.\nstaticData.lastContent = currentContent;\n\n// 5. Output the comparison result AND the detailed body for the email\nreturn [{\n  json: {\n    changed: hasChanged,\n    alert_message: hasChanged ? \"✅ WEBSITE UPDATED! Sending Alert.\" : \"❌ No changes detected.\",\n    \n    // This is the detailed body for the email, showing the side-by-side comparison\n    email_body: `\n      *** WEBSITE UPDATED ***\n      \n      Time: ${new Date().toISOString()}\n      \n      ---\n      \n      LAST CHECK CONTENT (First 500 characters): \n      ${lastContent.substring(0, 500)}... \n      \n      ---\n      \n      CURRENT CONTENT (New First 500 characters):\n      ${currentContent.substring(0, 500)}...\n    `\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "c80249c2-4f8d-4181-96d3-206998875ce6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "756e0de1-5cab-4d90-9545-1c967c1a2d05",
              "leftValue": "={{ $json.changed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        832,
        0
      ],
      "id": "4567db70-c2b0-49f5-81de-db9f5104691b",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "immadiharshita@gmail.com",
        "subject": "News daily",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1104,
        -16
      ],
      "id": "f55291f8-e341-48d1-9442-1bfb2bbb5873",
      "name": "Send a message",
      "webhookId": "87999835-7e40-49bb-be92-d40c78ae95ef",
      "credentials": {
        "gmailOAuth2": {
          "id": "wwI3Oyv0VLIRsfRx",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c82bd2b1-d34c-4019-b17f-e0d58fadbb6e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea0b1318efb75c8aeebcd49c082332807fa53dc99e333cebcf4a647e44c23e92"
  },
  "id": "CcFzItjsw3DoCyie",
  "tags": []
}